body {
  background-color: black;
}

.para3 {
  color: white;
  z-index: 23;
  width: 450px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.textb2,form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    /* filter: brightness(200%); */
  }

  .textb2 input {
   
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(92, 97, 92);
    height: 60px;
    color: white;
    width: 320px;
  }

  .textb2 button {
    background-color:rgb(228, 25, 25);
    color: white;
    border-radius: 5px;
    border: none;
    height: 58px;
    width: 320px;
    font-size: 20px;
  }

  .container-img2 {
 
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    position: absolute;
    left: 0;
    top: 0;
   
  }
